.desc{
    display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.customIcon{
  position: relative;
}
.cartNumber{
  position: absolute;
  right: -9px;
  bottom: -12px;
  margin: 0;
}
.singleFilter-option{
  display: flex;
  flex-direction: column;
}